# Added by TechNexion

allow odrefresh { aac_drc_prop ab_update_gki_prop adbd_config_prop adbd_prop apexd_config_prop apexd_payload_metadata_prop apexd_prop apk_verity_prop audio_config_prop }:file { read open map getattr };
allow odrefresh { bluetooth_a2dp_offload_prop bluetooth_audio_hal_prop bluetooth_prop bootanim_config_prop boottime_prop boottime_public_prop bpf_progs_loaded_prop build_bootimage_prop }:file { read open map getattr };
#allow odrefresh { bootloader_boot_reason_prop }:file { read open map getattr };
allow odrefresh { build_config_prop }:file { map getattr };
allow odrefresh { camera2_extensions_prop camerax_extensions_prop codec2_config_prop cold_boot_done_prop cpu_variant_prop }:file { read open map getattr };
allow odrefresh { camera_calibration_prop charger_config_prop charger_status_prop charger_prop }:file { map getattr };
allow odrefresh { ctl_adbd_prop ctl_apexd_prop ctl_bootanim_prop ctl_bugreport_prop ctl_console_prop ctl_default_prop ctl_dumpstate_prop ctl_fuse_prop ctl_gsid_prop ctl_interface_restart_prop ctl_interface_start_prop ctl_interface_stop_prop ctl_mdnsd_prop ctl_mediatranscoding_prop ctl_odsign_prop ctl_restart_prop ctl_rildaemon_prop ctl_sigstop_prop ctl_snapuserd_prop ctl_start_prop ctl_stop_prop }:file { read open map getattr };
allow odrefresh { dck_prop debugfs_restriction_prop device_config_activity_manager_native_boot_prop }:file { open map getattr };
allow odrefresh { device_config_boot_count_prop device_config_configuration_prop device_config_connectivity_prop }:file { open map getattr };
allow odrefresh { device_config_input_native_boot_prop device_config_lmkd_native_prop device_config_media_native_prop }:file { open map getattr };
allow odrefresh { device_config_mglru_native_prop device_config_netd_native_prop device_config_nnapi_native_prop }:file { open map getattr };
allow odrefresh { device_config_profcollect_native_boot_prop device_config_reset_performed_prop }:file { open map getattr };
allow odrefresh { device_config_statsd_native_boot_prop device_config_statsd_native_prop device_config_storage_native_boot_prop }:file { open map getattr };
allow odrefresh { device_config_surface_flinger_native_boot_prop device_config_swcodec_native_prop device_config_sys_traced_prop }:file { open map getattr };
allow odrefresh { device_config_vendor_system_native_boot_prop device_config_vendor_system_native_prop }:file { open map getattr };
allow odrefresh { device_config_virtualization_framework_native_prop device_config_window_manager_native_boot_prop }:file { open map getattr };
allow odrefresh { device_logging_prop dmesgd_start_prop drm_service_config_prop dumpstate_options_prop dynamic_system_prop }:file { open map getattr };
allow odrefresh { exported_bluetooth_prop exported_overlay_prop fastbootd_protocol_prop ffs_control_prop }:file { open map getattr };
allow odrefresh { framework_watchdog_config_prop gesture_prop gsid_prop }:file { open map getattr };
#allow odrefresh { firstboot_prop }:file { read open map getattr };
allow odrefresh { hal_dumpstate_config_prop }:file { map getattr };

allow odrefresh { heapprofd_enabled_prop hwservicemanager_prop hypervisor_prop }:file { read open map getattr };
allow odrefresh { incremental_prop init_perf_lsm_hooks_prop init_storage_prop }:file { read open map getattr };
allow odrefresh { init_svc_debug_prop }:file { map getattr };
allow odrefresh { keyguard_config_prop keystore_crash_prop keystore_listen_prop }:file { read open map getattr };
allow odrefresh { llkd_prop lmkd_prop logpersistd_logging_prop lower_kptr_restrict_prop lowpan_prop lpdumpd_prop }:file { read open map getattr };
#allow odrefresh { last_boot_reason_prop }:file ~{ ioctl read getattr lock map open watch watch_reads };
allow odrefresh { media_config_prop media_variant_prop mmc_prop mock_ota_prop }:file { read open map getattr };
allow odrefresh { mm_events_config_prop }:file { map getattr };
allow odrefresh { net_464xlat_fromvendor_prop net_connectivity_prop nnapi_ext_deny_product_prop }:file { read open map getattr };
#allow odrefresh { netd_stable_secret_prop }:file ~{ read open map getattr };
allow odrefresh { net_dns_prop }:file { open map getattr };
allow odrefresh { odsign_prop overlay_prop }:file { read open map getattr };
allow odrefresh { oem_unlock_prop }:file { map getattr };
allow odrefresh { packagemanager_config_prop persist_vendor_debug_wifi_prop persist_wm_debug_prop persistent_properties_ready_prop power_debug_prop provisioned_prop }:file { read open map getattr };
allow odrefresh { perf_drop_caches_prop }:file { open map getattr };
#allow odrefresh { profcollectd_node_id_prop }:file { read open map getattr };
allow odrefresh { qemu_hw_prop qemu_sf_lcd_density_prop }:file { read open map getattr };
allow odrefresh { radio_cdma_ecm_prop recovery_config_prop remote_prov_prop retaildemo_prop }:file { read open map getattr };
allow odrefresh { rebootescrow_hal_prop }:file { map getattr };
allow odrefresh { safemode_prop smart_idle_maint_enabled_prop snapuserd_prop storage_config_prop surfaceflinger_display_prop suspend_prop system_adbd_prop system_boot_reason_prop system_lmk_prop system_trace_prop system_user_mode_emulation_prop }:file { read open map getattr };
#allow odrefresh { serialno_prop }:file { read open map getattr };
allow odrefresh { sendbug_config_prop system_jvmti_agent_prop }:file { map getattr };
allow odrefresh { test_boot_reason_prop test_harness_prop theme_prop time_prop traced_enabled_prop traced_lazy_prop traced_perf_enabled_prop }:file { read open map getattr };
allow odrefresh { tombstone_config_prop }:file { map getattr };
allow odrefresh { vehicle_hal_prop verity_status_prop virtual_ab_prop virtualizationservice_prop vold_post_fs_data_prop }:file { read open map getattr };
allow odrefresh { wifi_hal_prop wifi_prop }:file { read open map getattr };
allow odrefresh { wifi_config_prop }:file { map getattr };
allow odrefresh { zram_config_prop zram_control_prop }:file { read open map getattr };

#allow odrefresh { vendor_camera_prop vendor_default_prop }:file { read open map getattr };
